version: 2.1
setup: true
orbs:
  build: mojaloop/build@1.1.0
workflows:
  setup:
    jobs:
      - build/workflow:
          context: org-global
          filters:
            tags:
              only: /v\d+(\.\d+){2}(-[a-zA-Z-][0-9a-zA-Z-]*\.\d+)?/
